
<%= form_with(model: message, data: { reflex: "submit->TextMessageReflex#submit" }) do |form| %>
  <%#= debug message %>
    <% if message.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
            <% message.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <%= form.hidden_field :list_id, value: list_id %>

<div class="actions">
    <%= form.submit %>
</div>

<% end %>