<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @list.category_ids %>
</p>

<%= render partial: "text_message_form", locals: { message: @list.text_messages.build, list_id: @list.id } %>

<p>
  <% @list.text_messages.each do |text_message| %>
    <p><%= text_message.content %></p>
  <% end %>
</p>

<%#= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
