<p id="notice"><%= notice %></p>

<%= link_to 'Back', lists_path %>

<p> Number of viewers <%= @num_viewers %> </p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @list.category_ids %>
</p>

<%= render partial: "text_message_form", locals: { message: @list.text_messages.build, list_id: @list.id } %>

<%= button_to 'Copy text', create_copy_text_list_path(@list), method: :get, remote: true %>

<div id="messages">
  <% @list.text_messages.order(created_at: :desc).each do |text_message| %>
    <%= render partial: "text_messages/message", locals: {message: text_message} %>
  <% end %>
</div>

<a href='#' data-reflex="click->List#viewer_count">Update viewers</a>

<%#= link_to 'Edit', edit_list_path(@list) %> |
